@media (min-width: 500px) {
    body {
        background-color: black;
    }
}
@media (max-width: 499px) {
    body {
        background-color: blue;
    }
}

.spaxes{
    width: 400px;
    height: 300px;
}

#xd
{
    width: 700;
    height: 600;
}
#xd
{
    width: 700;
    height: 600;
}

