@media (min-width: 500px) {
    body {
        background-color: black;
    }
}
@media (max-width: 499px) {
    body {
        background-color: blue;
    }
}

.spaxel{
    width: 300px;
    height: 200px;
}

